<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://a-v2.sndcdn.com/assets/images/sc-icons/favicon-2cadd14bdb.ico" rel="icon">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- scripts -->
    <title>Discover on SoundCloud</title>
</head>
<body>
    <header>
        <div class="header-container">
            <!-- _, home, stream, library -->
            <div>

            </div>
            <!-- searchbox -->
            <div>

            </div>
            <!-- auth -->
            <div>

            </div>
        </div>
    </header>
    <!-- left container -->
    <div>

    </div>
    <!-- right container -->
    <div>

    </div>
    
    <!-- accept cookie policies -->
    <footer>

    </footer>
</body>
</html>