<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script type="text/javascript">
          window.onload = function changeBackground() {
            var bg = document.getElementById("blindinglights");
            var title = document.getElementById('title');
              (async () => {
              await window.setInterval(() => {
                if(bg.style.backgroundColor == "red") {
                  console.log("color changed");
                  bg.style.backgroundColor = "yellow";
                  title.style.color="red";
                } else {
                  console.log("color changed!!!!");
                  bg.style.backgroundColor = "red";
                  title.style.color="yellow";
                }
              }, 500);
              })();
          }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'main' %}">Movies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'nowPlaying' %}"> 현재 상영작 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'articles' %}">후기</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://www.cgv.co.kr/">예매하기</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="{% url 'donate' %}" tabindex="-1" aria-disabled="true">후원하기</a>
                </li>
              </ul>
            </div>
          </nav>
          <div style="padding-left: 50px; width: 2000px; height: 3000px;" id='blindinglights'>
            <img src="{% static 'img/donate.png' %}" style="padding-top: 30px; padding-left: 30px;">
            <div style="padding-left: 30px; padding-top: 10px; width: 500px;">
              <br>
              <h1 style="color: crimson;" id='title'>제 캐릭터가 많이 아픕니다</h1>
              <br>
              <h3>장비강화도 못하는 하루살이 인생입니다</h3>
              <br>
              <h3 style="color: yellow; background-color: black;">3333-11-3188993 카카오 문상혁</h3>
            </div>
          </div>
    </body>

</html>