{% extends 'base.html' %}

{% block content %}

  <div class="container" style="padding-top: 30px;">
    <form action="{% url 'create' %}">
      <h4>제목: </h4>
      <input type="text" name="title">
      <br>
      <br>
      <h4>닉네임: {{ user.username }}</h4>
      <br>
      <h4>본문: </h4>
      <textarea cols=40 rows=10 name="body"></textarea>
      <br>
      <h4>비밀번호: </h4>
      <input type="text" name="password">
      <br>
      <br>
      <input class="btn btn-dark" type="submit" value="제출하기">
    </form>
  </div>

  {% endblock %}
