{% extends 'base.html' %}

{% block content %}

  <div style="padding-left: 30px; padding-top: 30px;">
    <h3><a href="{% url 'write' %}">글쓰기</a></h1>
  </div>
  {% for article in articles %}
      <ol style="padding-left: 30px; padding-top: 30px;">
          <div>
              <h3><a href="{% url 'detail' article.id %}">{{ article.title }}</a></h3>
              <p>{{ article.pub_date }}</p>
              <p>{{ article.summary }} <a href="#">...more</a></p>
          </div>
      </ol>
  {% endfor %}

  {% endblock %}
